---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Viktoria Castellano 2025 - 404';
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>404</h1>
    <p>Ooops, da ist was schief gelaufen!</p>
  </div>
</BaseLayout>
